[include]
  path = ~/.gitconfig.local
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
[credential]
  helper = cache --timeout=3600
[help]
  autocorrect = 10
[alias]
  ap = add --patch
  ##################
  b = branch -v
  backone = reset HEAD~
  ##################
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  cahh = commit --amend
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort
  ##################
  co = checkout
  cob = checkout -b
  ##################
  d = diff
  dc = diff --cached
  ##################
  ec = config --global -e
  ##################
  fix = commit -a -C HEAD --amend
  ##################
  l = log --graph --pretty=format:'%Cred%h%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  lp = log --graph --pretty=format:'%Cred%h%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' -p
  ls = log --stat
  ##################
  gahh = !git push origin `git rev-parse --abbrev-ref HEAD` -f
  gooo = !git add . && git rc
  ##################
  og-commit = commit -C ORIG_HEAD
  ##################
  pr = "!f() { git log --merges --ancestry-path --oneline $1..master | grep 'pull request' | tail -n1 | awk '{ print $5 }' | sed 's/#//'; }; f"
  ##################
  repo = "!f() { git remote -v show | grep origin | head -1 | grep -oP 'github.com:\\K[^\\s]*'; }; f"
  ##################
  unstage = reset HEAD --
  ##################
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  ##################
  rh = reset --hard
  ##################
  s = status
  ##################
  rim = !git rebase -i `git merge-base HEAD master`  # interactive rebase onto master
  rid = !git rebase -i `git merge-base HEAD dev`
  ##################
  blow-it-up = !git cam 'REMOVED COMMIT' && git reset --hard HEAD~
[pull]
  rebase = preserve
[branch]
  autosetuprebase = always
[remote]
  prune = true
[push]
  default = simple
[merge]
  tool = vimdiff
